* {
    margin: 0;
    padding: 0;
}



body {
    background-image: url(../img/wall.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    width: 100%;
    background-position: center;
    position: relative;
    margin: 0;
    display: flex;
    flex: 1;
    justify-content: center;
}

.clock {
    position: relative;
    height: 30vh;
    width: 30vh;
    background-image: url(../img/clock.png);
    background-size: contain;
    opacity: 0.9;
    border: 5px solid rgb(173, 19, 19);
    border-radius: 50%;
    margin-top: 10vh;
    box-shadow: 5px 10px 20px #000;
}

.hour,.minute,.second {
    position: absolute;
    border-radius: 5px;
    transform-origin: bottom;
    left: 50%;
    opacity: 0.8;
}
  
.hour {
    width: 1.5%;
    height: 7.5vh;
    top: 7.5vh;
    background: red
}
  
.minute {
    width: 1.3%;
    background: rgb(11, 11, 87);
    height: 10vh;
    top: 5vh;
}
  
.second {
    width: 0.5%;
    height: 12vh;
    background: black;
    top: 3vh;
}